<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>健康</string>
	<string>新时代</string>
	<string>独家</string>
	<string>家居</string>
	<string>军事</string>
	<string>时尚</string>
	<string>直播</string>
	<string>彩票</string>
</array>
</plist>
